
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

header{
  display: flex;
}

.logo{
  margin-left: 40px;
  
}

h1{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #545454;
  margin-top: 60px;
  margin-bottom: 10px;
}

h1 a{
  text-decoration: none;
  color: #545454;
  transition: 0.5s;
}

h1 a:hover{
  color:#F1CDB3;
}

.logo p{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #292929;
}

.nav ul{
  display: flex;
  margin-top: 76px;
  padding-left: 573px;
}

.nav ul .shelter a{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  text-decoration: underline;
  color: #F1CDB3;
}

ul li a{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  text-decoration: none;
  transition: 0.5s;
  margin-right: 35px;
  outline: none;
}

ul li a:hover{
  text-decoration: underline;
  color: #F1CDB3;
}


h2{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  width: 400px;
  height: 90px;
  margin-left: 440px;
  margin-top: 80px;
}

.card{
  display: flex;
  flex-wrap: wrap;
}



.card-pets{
  margin-right: 40px;
}

.card-pets:nth-child(1){
  margin-left: 40px;
  margin-bottom: 60px;
}

.card-pets:nth-child(2){
  margin-bottom: 60px;
}

.card-pets:nth-child(3){
  margin-bottom: 60px;
}

.card-pets:nth-child(4){
  margin-bottom: 60px;
}

.card-pets:nth-child(5){
  margin-left: 40px;
  margin-bottom: 60px;
}

.card-pets:nth-child(6){
  margin-bottom: 60px;
}

.card-pets:nth-child(7){
  margin-bottom: 60px;
}

.card-pets:nth-child(8){
  margin-bottom: 60px;
}

.card-pets:hover{
  cursor: pointer;
}

.card-pets p{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-pets a{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 14px 45px;
  margin-left: 41.5px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  transition: 0.5s;
  margin-bottom: 60px;
  cursor: pointer;
}

.card-pets a:hover{
  background: #F1CDB3;
}

.card-pets img:hover{
  transform: scale(0.6);
}

.pagination{
  margin-left: 470px;
  margin-bottom: 100px;
}

.pagination img{
  margin-right: 20px;
}

.pagination img:hover{
    opacity: 0.5;
}

.footer-bg{
  background:  url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.footer-nav{
  display: flex;
}

.footer-email{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 160px;
}

.footer-email h3{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  width: 280px;
  margin-bottom: 40px;
}

.mail a{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  transition: 0.5s;
  text-decoration: none;
  display: block;
  margin-bottom: 40px;
}

.mail a:hover{
  color:#FAFAFA;
}

.mail img{
  position: relative;
  top: 10px;
}

.phone a{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  transition: 0.5s;
  text-decoration: none;
  display: block;
}

.phone a:hover{
  color:#FAFAFA;
}

.phone img{
  position: relative;
  top: 10px;
}

.location h3{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  width: 280px;
  margin-bottom: 34px;
}

.location{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-right: 160px;
}

.location-boston a{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%; 
  letter-spacing: 0.06em;
  color: #F1CDB3;
  display: inline-flex;
  margin-top: 10px;
  margin-bottom: 42px;
  width: 310px;
}

.location-boston a:hover{
  color:#FAFAFA;
}

.location-boston a img{
  padding-right: 20px;
}

.location-london a{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  display: inline-flex;
}
.location-london a:hover{
  color:#FAFAFA;
}

.location-london a img{
  padding-right: 20px;
}

.footer-puppy{
  margin-top: 40px;
}
